* {
   margin: 0;
   padding: 0;
}

p {
   width: 0;
   height: 0;
   border-top: 44px solid black;
   border-right: 44px solid red;
   border-bottom: 44px solid green;
   border-left: 44px solid blue;
}
