body {
   /* font-style: italic;
   font-variant: small-caps;
   font-weight: bold;
   font-size: 20px;
   line-height: 16px;
   font-family: 'Merriweather', serif; */

   font: 20px 'Merriweather', serif;
}
